name: Python CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install 3.11
      - name: Install dependencies
        run: uv sync --extra dev
      - name: Run tests with Pytest
        run: uv run pytest
      - name: Run black
        run: uv run black . --check
